h1 {
    justify-content: center;
    display: flex;
    color: white;
    padding: 2rem;
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 30px;
    color: white;
    display: flex;
    text-align: center;
    margin: auto 15rem;
}